*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu_nav{
    /* background-color: aqua; */
    background: rgba(0, 0, 0, 0.12);
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap:50px;
    padding-top: 50px;
    position: fixed;
    width: 100vw;
}
.menu_nav img{
    display: flex;
    margin-right:50rem;
    height: 6vh ;
    cursor: pointer;
}
.a{
    display: flex;
    text-decoration: none;
    font-size: large;
    gap:2rem;
    color:rgba(255, 255, 255, 0.781);
    list-style: none;
    font-family: sans-serif;
}

.a a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.781);
    justify-content: space-around;
    font-weight: 300;
    font-size: 20px;
}

/* grid section */

.menu_main{
    background:url(../IMG/menupg.img/banner.webp) no-repeat center/cover;
    height:fit-content;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:200px 0;
    row-gap: 60px;
    column-gap: 50px;
    width: 100%;
    justify-content: center;
}
.gird-cnt{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
}
.gird-cnt:hover{
    filter: brightness(70%);
    cursor: pointer;
}
.gird-cnt img{
    align-items: center;
}
.gird-cnt h1{
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* footer section */

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #C77BF4 0%, #FF5672 100%);
    box-shadow: -5px -5px 19px rgba(255, 245, 245, 0.934);
    height: 50px;
    width: 100%;
    color: white;
    font-size: 15px;
}