*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about_main{
    height: 100vh;
}
.about_inner{
    background:url(../IMG/banner.webp) no-repeat center/cover;
    height: 100vh;
    background-position: center;

}
.about-nav{
    /* background-color: aqua; */
    background: rgba(0, 0, 0, 0.12);
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap:50px;
    padding-top: 50px;
    position: fixed;
    width: 100vw;
}
.about-nav img{
    display: flex;
    margin-right:50rem;
    height: 6vh ;
    cursor: pointer;
}
.a{
    display: flex;
    text-decoration: none;
    font-size: large;
    gap:2rem;
    color:rgba(255, 255, 255, 0.781);
    list-style: none;
    font-family: sans-serif;
}

.a a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.781);
    justify-content: space-around;
    font-weight: 300;
    font-size: 20px;
}
.conttent{
    display: flex;
    color: white;
    height:100vh;
    width: 50vw;
    font-family: cursive;
    padding:0 2rem;
    align-items: center;
    justify-content:center;
}
.conttent h1{
    font: size 3.8vw;;
    font-weight:bold;
    padding: 20px;
    margin-top: 50px;
    padding-left: 80px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* grid sction  */

.grid-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 21px;
    color: #424242;
}
.about-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 70px;
    column-gap: 40px;
    margin: 100px 0;
    justify-content: center;
    align-content: center;
    padding: 0 100px;
}

.grid-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 21px;
    color: #424242;
}

.grid-items img{
    width: 100%;
    object-fit: cover;
}

.grid-item:nth-child(1) img {

    transform: scale(0.7);
}

.grid-item:nth-child(3) {
    justify-content: space-evenly;
}

.locations {
    font-size:22px;
}

.grid-items h1  {
    color: #424242;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.locations span {
    color: #424242;
    font-weight: 700;
}

.location p {
    margin-bottom: 24px;
    margin-right: 30px;
    color: #424242;
    font-size: 22px;
    font-weight: 700px;
    width: fit-content;

}
.follow-us{
    display: flex ;
    justify-content:space-around;
}

.follow-us img {
    width:4vw;
}


/* footer section */

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #C77BF4 0%, #FF5672 100%);
    box-shadow: -5px -5px 19px rgba(0, 0, 0, 0.23);
    height: 50px;
    width: 100%;
    color: white;
    font-size: 15px;
}

