
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home_main{
    height: 100vh;
}
.home_inner{
    background:url(../IMG/app-link-background.svg) no-repeat center/cover;
    height: 100vh;
    background-position: center;

}

.home-nav{
    /* background-color: aqua; */
    background: rgba(0, 0, 0, 0.12);
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap:50px;
    padding-top: 50px;
    position: fixed;
    width: 100vw;
}

.home-nav img{
    display: flex;
    margin-right:50rem;
    height: 6vh ;
    cursor: pointer;
}

.a{
    display: flex;
    text-decoration: none;
    font-size: large;
    gap:2rem;
    color:rgba(255, 255, 255, 0.781);
    list-style: none;
    font-family: sans-serif;
}

.a a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.781);
    justify-content: space-around;
    font-weight: 300;
    font-size: 20px;
}

.content{
    display:block;
    padding: 50px;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    /* margin: 5rem; */
    /* background-color: aqua; */
}

.content h1{
    font-size:70px;
    margin: 2rem;
    text-transform:uppercase;
    font-weight: 300rem;
    font-family:cursive;
    text-align: center;
    color: white;
    font-weight:bolder;
}
/* .content button{
    display: inline;
    justify-content:center;
    gap: 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn1{
    padding: 0px;
}
.btn2{
    padding: 0px;
} */

.store-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin-top: 50px;
}

.store-buttons a:nth-child(1) img {
    height:60px;
    cursor: pointer;
}
.store-buttons a:nth-child(2) img {
    height:70px;
    padding: 0;
    cursor: pointer;
}

.store-buttons a:nth-child(1):hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

.store-buttons a:nth-child(2):hover{
    transform: scale(1.05);
    transition: 0.2s ease;
}



/* sction1 */
 .feature-main{
            background-color:white;
            align-items: center;
            text-align: center;
            height: 90vh;
            padding: 2rem;
        }

        .features{
            display: flex;
            justify-content: center;
            justify-content:space-around;
            align-items: center;
            height: 50%;
            gap: 2.5rem;
            margin-top: 5rem;
            font-family:sans-serif;
            font-weight: lighter;
        }
        .feature-main h1{
            font-size: 50px;
            font-weight: lighter;
        }

        .features img{
            height: 150px;
            width: 150px;
        }
        .features p{
            text-align:center;
            font-size:1.5rem;
        }

/* section2 */

        .banner1{
            background: url(../IMG/banner-1.webp) no-repeat center/cover;
            height: 100vh;
            display: flex;
            text-align: center;
        }

        .banner1 h1{
            color: white;
            height: 100vh;
            width: 100%;
            display: inline;
            font-family: cursive;
            font-size: 100px;
            font-weight: bolder;
            align-content: center;
            text-transform: uppercase;
        }
/* section3 */
        .banner2{
            background: url(../IMG/banner-2.webp) no-repeat center/cover;
            height: 100vh;
            width: 100%;
            display: block;
            align-content: center;
        }
        .banner2 h1{
            color: white;
            height: 70vh;
            width: 100%;
            display: block;
            font-family: cursive;
            font-size: 100px;
            align-content: center;
            text-align: center;
            text-transform: uppercase;
        } 
        .banner2 .btn{
            display: flex;
            align-content: center;
            justify-content: center;

        }
        .banner2 button{
            background-color: transparent;
            color: white;
            border-color:  white;
            border-radius: 10px;
            border-radius: 3rem;
            padding: 10px 20px;
            text-align: center;
            font-family: sans-serif;
            font-size: 30px;
            cursor: pointer;
            text-decoration: none;
        }
        .banner2 button a{
            text-decoration: none;
            color: white;
        }

/* footer section  */
.footer-main{
    margin: auto;
    padding: auto;
    background-color:#F5F5F5;
}
.footer-main h1{
    color: #424242;
    font-size: 50px;
    font-weight: bold;
    font-family:sans-serif;
    padding-top: 5vh;
    text-align: center;
}
.footer-inner{
    display: grid;
    grid-template-columns: 300px 300px 1fr;
    gap: 40px;
    margin: 50px;
    padding: 20px;
}

.footer-inner h1{
    font-size:30px;
    font-family: sans-serif;
    text-align: left;
    text-transform:capitalize;
    margin: 20px 0;
}
.quick-links li {
    width: fit-content;
    width: auto;
    font-size: 25px;
    padding: 10px 5px;
    color:rgb(244, 74, 74);
    list-style-position: inside;
    cursor: pointer;
}
.footer-inner .quick-links li:nth-child(3){
    color: #424242;
}

.f-mail{
    display: grid;
    grid-template-rows:auto;
    color: #424242;
    font-size: 20px;
    text-align: justify;
}
.f-mail p{
    font-size: medium;
    margin-left: 2vw;
}
.f-mail img{
    width: 10%;
    align-items: center;
    margin-right:1vw;
}

.quick-links{
    display: grid;
    grid-template-rows: repeat(3,auto);
}
.f-detailes{
    display: grid;
}
.f-detailes p{
    align-content: center;
    text-align: justify;
    font-size: large;
    color: #424242;
}
.f-detailes input{
    padding:2vh 2vw;
    border-radius: 50px;
    width: 50%;
    background-color: transparent;
    font-family: sans-serif;
    font-size: larger;
}

.f-detailes img{
    height:20%;
    /* width: 20%; */

}

.f-detailes img:hover{
    transform: scale(1.05);
    transition:  0.2s ease ;
    cursor: pointer;
}

.Head-Office{
    display: grid;
    grid-template-rows: auto;
}
.Head-Office p{
    font-size: 20px;
    font-weight:lighter;
    color: #424242;
}

.location{
    display: grid;
    grid-row: auto;
}
.location li{
    font-size: 20px;
    color: #424242;
}

.Follow-us{
    display: grid;
    grid-template-rows: auto;
    cursor: pointer;
}
.Follow-us img:hover{
    transform: scale(1.05);
    transition: 0.2s ease;
}
.Follow-us img{
    display: inline;
    justify-content: space-evenly;
   padding-right: 30px;
   align-items:center;
}

#f1{
    display:flex;
    height: 10vh;
    margin: auto;
    justify-content: center;
}

.f1:nth-child(1){
    margin:10%;
}


.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #C77BF4 0%, #FF5672 100%);
    box-shadow: -5px -5px 19px rgba(0, 0, 0, 0.23);
    height: 50px;
    width: 100%;
    color: white;
    font-size: 15px;
}
