@media (max-width: 576px) { 
    home-nav{overflow-x: visible;}
    *{
        margin: 0;
        font-size: small;
    }
body{
    height: 150vh;
}
    .menu_nav{
    background: rgba(0, 0, 0, 0.12);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: fixed;
    }

.menu_main{
    height: 100vh;
}

    .grid-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    padding:20px;
    row-gap: 20px;
    column-gap: 50px;
    width: 100%;
    justify-content: center;
    margin-top: 200px;
}
.gird-cnt img {
    height: 50%;
    width: 50%;
}
}